.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #3f87a6, #ebf8e1);
}

.login-box {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 400px;
    box-shadow: 15px 0 15px rgba(0, 0, 0, 0.4);
    background-color: #f9f9f9;
}

.form-group {
    text-align: left;
    font-size: 16px;
}

label {
    display: block;
    margin: 10px 0;
}

.subtitle {
    color: #888;
    font-size: 15px;
    margin-top: -15px;
}

input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    outline: none;
    border-bottom-color: dimgrey;
    background: transparent;
    font-size: 16px;
}
input:required:double-button{
    border: 2px solid red;
}

button {
    width: 80%;
    padding: 15px;
    background-color: #0074d9;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}

.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #3f87a6, #ebf8e1);
}

.register-box {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 15px 0 15px rgba(0, 0, 0, 0.4);
    width: 400px;
    background-color: #f9f9f9;
}
