.header {
    overflow: hidden;
    position: sticky;
    z-index: 100;
    top: 0;
}
.header .header-button {
    float: right;
    text-align: center;
    width:10px;

}
.header .header-buttons{
    float: right;
}
.header .catalogName {
    float: left;
}
.toolbar{
    display: flex;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}
